.titel {
    color: #274730;
}

.padding {
  padding: 20px 20px 20px 20px; background: #ACFF80;
  border-style: ridge;
  border-radius: 20px;
  margin: 100px 400px 100px 200px;

}

.foto {
  float: right;
}

body {
    background: rgba(160, 229, 255,0.25);
}
